* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.table {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: hidden;
}

.left-side {
    height: 100%;
    float: left;
    width: 65%;
    /*background-color: rgb(12, 32, 63);*/
    background-color: #211d1d;
}

.player-table {
    left: 0;
    padding: 5%;
    height: 90%;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.player-tile {
    margin: 3px;
    border-radius: 5px;
}

.right-side {
    height: 100%;
    float: right;
    width: 35%;
    background-color: #383030;
}

.rng {
    right: 0;
    height: 35%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.rng-tile {
    margin: 5px;
    border-radius: 5px;
}

.restart-btn {
    background-color: rgb(90, 193, 207);
    width: 100%;
    height: 10%;
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
}

.restart-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.stats {
    height: 5%;
    background-color: rgb(58, 154, 167);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.statsChild {
    flex: auto;
    font-size: 1.5em;
    text-align: center;
}

.win-screen {
    display: block;
    padding: 0 1em;
    text-align: center;
    width: 100%;
}

@media (min-width: 43.75em) {
    .win-screen {
        padding: 1em 2em;
        text-align: right;
    }
}

.win-overlay {
    background: black;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    text-align: center;
    z-index: -800;
    opacity: 0;
    overflow: hidden;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
    font-size: 2.5em;
}

.win-box {
    padding: 1em .75em;
    position: relative;
    margin: 1em auto;
    width: 90%;
}

@media (min-height: 37.5em) {
    .win-box {
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-50%, -80%);
        -ms-transform: translate(-50%, -80%);
        transform: translate(-50%, -80%);
    }
}

@media (min-width: 50em) {
    .modal__box {
        padding: 1.75em;
    }
}

.win-box p {
    color: #FFDE16;
    text-align: center;
    opacity: 1;
}