* {
    padding: 0;
    margin: 0;
}

.table {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: hidden;
}

.left-side {
    height: 100%;
    float: left;
    width: 65%;
    /*background-color: rgb(12, 32, 63);*/
    background-color: #211d1d;
}

.player-table {
    left: 0;
    padding: 5%;
    height: 90%;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.player-tile {
    margin: 3px;
    border-radius: 5px;
}

.right-side {
    height: 100%;
    float: right;
    width: 35%;
    background-color: #383030;
}

.rng {
    right: 0;
    height: 35%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.rng-tile {
    margin: 5px;
    border-radius: 5px;
}

.restart-btn {
    background-color: rgb(90, 193, 207);
    width: 100%;
    height: 10%;
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
}

.restart-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.stats {
    height: 5%;
    background-color: rgb(58, 154, 167);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.statsChild {
    flex: auto;
    font-size: 1.5em;
    text-align: center;
}